{% extends "main_django.html" %}
{% load i18n static %}
{% load django_markup %}
{% block title %}You have been logged out | {{ block.super }}{% endblock %}
{% block body %}
    {% if show_tpa_logout_link %}
        <h1>You have been logged out.</h1>
        <p style="text-align: center; margin-bottom: 20px;">
            <a href="{{ tpa_logout_url }}">Click here</a> to complete the single sign-on (SSO) logout.
        </p>
    {% else %}
        {% if enterprise_target %}
            <h1>Logging in.</h1>
            <p style="text-align: center; margin-bottom: 20px;">
                This may take a moment. If you are not redirected, please visit the homepage.
            </p>
        {% else %}
            <h1>You have been logged out.</h1>
            <p style="text-align: center; margin-bottom: 20px;">
                If you are not redirected within 5 seconds, <a href="{{ target }}">click here to go to the homepage</a>.
            </p>
        {% endif %}
        <script type="text/javascript" src="{% static 'js/jquery.allLoaded.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/logout.js' %}"></script>
    {% endif %}
    <div id="iframeContainer" style="visibility: hidden" data-redirect-url="{{ target }}">
        {% for uri in logout_uris %}
            <iframe src="{{ uri }}"></iframe>
        {% endfor %}
    </div>
{% endblock body %}