{% extends "main_django.html" %}
{% load i18n static %}
{% load django_markup %}

{% block title %}Вы вышли из системы | {{ block.super }}{% endblock %}

{% block body %}
    {% if show_tpa_logout_link %}
        <h1>Вы вышли из системы.</h1>

        <p style="text-align: center; margin-bottom: 20px;">
            <a href="{{ tpa_logout_url }}">Нажмите здесь</a>, чтобы завершить сеанс единого входа (SSO).
        </p>

    {% else %}
        {% if enterprise_target %}
            <h1>Выполняется вход в систему.</h1>

            <p style="text-align: center; margin-bottom: 20px;">
                Это может занять некоторое время. Если вас не перенаправили, перейдите на главную страницу.
            </p>
        {% else %}
            <h1>Вы вышли из системы.</h1>

            <p style="text-align: center; margin-bottom: 20px;">
                Если вы не были перенаправлены в течение 5 секунд, <a href="{{ target }}">нажмите здесь, чтобы перейти на главную страницу</a>.
            </p>
        {% endif %}

        <script type="text/javascript" src="{% static 'js/jquery.allLoaded.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/logout.js' %}"></script>
    {% endif %}

    <div id="iframeContainer" style="visibility: hidden" data-redirect-url="{{ target }}">
        {% for uri in logout_uris %}
            <iframe src="{{ uri }}"></iframe>
        {% endfor %}
    </div>

{% endblock body %}
