@font-face {
  font-family: 'TT Positive';
  src:
    url('#{$static-path}/fonts/TT Positive/TT Positive ExtraLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Positive';
  src:
    url('#{$static-path}/fonts/TT Positive/TT Positive ExtraLight Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Positive';
  src:
    url('#{$static-path}/fonts/TT Positive/TT Positive Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Positive';
  src:
    url('#{$static-path}/fonts/TT Positive/TT Positive Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'TT Positive';
  src:
    url('#{$static-path}/fonts/TT Positive/TT Positive DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Positive';
  src:
    url('#{$static-path}/fonts/TT Positive/TT Positive DemiBold Italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TT Positive';
  src:
    url('#{$static-path}/fonts/TT Positive/TT Positive Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Positive';
  src:
    url('#{$static-path}/fonts/TT Positive/TT Positive Bold Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
